@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  /* Modificado line-height para centrar verticalmente */
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  text-align: center; /* Agregado para centrar horizontalmente */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/************************************************************Pestaña Sign-Up*********************************************************/
.username-container {
  width: 100%;
}

.background .shape-signup {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape-signup:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape-signup:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -100px;
  bottom: -190px;
}

.signup-container {
  height: 600px;
  width: 400px;
  color: #E6E6E6;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

/***************************************************************Pestaña Contact Us**********************************************************/
.contact-us-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us-main iframe {
  width: 100%;
  height: 500px;
}
.contact-us-main .title {
  margin-top: 100px;
}
.contact-us-main p {
  max-width: 500px;
}
.contact-us-main .form-container textarea {
  width: 100%;
  box-sizing: border-box;
}
.contact-us-main .form-container input[type=email], .contact-us-main .form-container input[type=text], .contact-us-main .form-container input[type=tel] {
  width: 100%;
  height: 40px;
}
.contact-us-main .form-data-container {
  display: flex;
  flex-direction: row;
}
.contact-us-main .btn-send-data {
  background-color: #E6E6E6;
  border: 1px solid black;
  border-radius: 0px;
}
@media (max-width: 768px) {
  .contact-us-main .form-data-container {
    flex-direction: column;
  }
  .contact-us-main .contact-data-container {
    margin-top: 50px;
    text-align: center;
  }
}

/**********************************************************Pestaña AboutUs*************************************************************************/
.about-us-main img {
  width: 100%;
  height: 100%;
}
.about-us-main #about-us-title {
  margin-top: 90px;
}
.about-us-main .about-us-body-section1 .image-description-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-us-main .about-us-body-section1 .image-description-container .image1 {
  margin-right: 100px;
}
.about-us-main .about-us-body-section1 .image-description-container .image2 {
  margin-left: 100px;
}
.about-us-main .about-us-body-section2 {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  display: flex; /* Aplicamos el modelo flexbox */
  flex-direction: column; /* Alineamos los elementos verticalmente */
  justify-content: center; /* Centramos verticalmente */
  align-items: center; /* Centramos horizontalmente */
}
.about-us-main .about-us-body-section2 h2 {
  font-size: 40px;
}
.about-us-main .about-us-body-section2 p {
  max-width: 600px;
  font-size: 15px;
}
.about-us-main #team-holder h3 {
  font-size: 20px;
  transition: all 0.2s;
}
.about-us-main #team-holder h3:hover {
  color: orange;
}
.about-us-main .our-gallery {
  display: grid;
  grid-template-areas: "img1 img2 img3 img4 img5" "img1 img6 img6 img7 img5";
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.about-us-main .our-gallery .img-1 {
  grid-area: img1;
}
.about-us-main .our-gallery .img-1 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-2 {
  grid-area: img2;
}
.about-us-main .our-gallery .img-2 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-3 {
  grid-area: img3;
}
.about-us-main .our-gallery .img-3 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-4 {
  grid-area: img4;
}
.about-us-main .our-gallery .img-4 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-5 {
  grid-area: img5;
}
.about-us-main .our-gallery .img-5 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-6 {
  grid-area: img6;
}
.about-us-main .our-gallery .img-6 img {
  width: 100%;
  height: 100%;
}
.about-us-main .our-gallery .img-7 {
  grid-area: img7;
}
.about-us-main .our-gallery .img-7 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .about-us-main .our-gallery {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7";
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
}

/***************************************************************Pestaña Sign In********************************************************************/
#signin-body {
  background-color: #080710;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 400px;
  color: #E6E6E6;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 80%;
}

nav .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 40px; /* Modify this value to adjust the icon size */
  color: rgb(255, 60, 0);
}
nav div ul li {
  font-size: 20px;
}
nav div ul li:hover {
  font-size: 25px;
  font-weight: 900;
}

#services {
  background-color: #333333;
  padding: 50px;
  height: 100%;
  width: 100%;
  color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services #services__items {
  display: flex;
  flex-direction: row;
}
#services #services__items #services__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  width: 100%;
}
#services #services__items #services__items__item p {
  max-width: 400px;
}
#services #services__items #services__items__item .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 60px; /* Modify this value to adjust the icon size */
  padding: 40px;
}
#services #services__items #services__items__item .learn-more-btn {
  margin-top: 40px;
  background-color: #333333;
  background: none; /* Elimina el fondo cuadrado */
  border: none; /* Elimina el borde */
  height: 60px;
  width: 200px;
  transition: all 1s;
}
#services #services__items #services__items__item .learn-more-btn a {
  text-decoration: none;
  color: #F4F4F4;
  font-size: 21px;
}
#services #services__items #services__items__item .learn-more-btn:hover {
  background-color: rgb(255, 102, 0);
}

.footer-logo-container .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 100px; /* Modify this value to adjust the icon size */
  color: rgb(255, 60, 0);
}
.footer-logo-container div strong {
  color: #F4F4F4;
  font-size: 21px;
}

#btn-submit {
  height: 40px;
  width: 120px;
}

.logo-container .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 250px; /* Modify this value to adjust the icon size */
  color: rgb(255, 60, 0);
}
.logo-container h1 {
  color: #F4F4F4;
  font-weight: 600;
}

.container-intro {
  padding-top: 80px;
}

@media (max-width: 1024px) {
  .about-us-body-section1 .image1 {
    display: none;
  }
  .about-us-body-section1 .image2 {
    display: none;
  }
}
@media (max-width: 1124px) {
  #services #services__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-container span, .logo-container h1 {
    display: none;
  }
  .home-video .bg-video {
    display: none;
  }
}
.container-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container-welcome p {
  max-width: 400px;
}
.container-welcome h1 {
  transition: font-size 2s, font-weight 1s, transform 1s;
}
.container-welcome h1:hover {
  font-size: 45px;
  font-weight: 900;
  transform: scale(1.5, 1.5);
}

.home-video video {
  width: 100%;
  height: 100%;
}

.info {
  max-width: 300px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .index-section-1 #index-section-1__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .index-section-1 #index-section-1__container2 {
    display: grid;
    grid-template-areas: "description" "image";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  .index-section-1 #index-section-1__container2 #index-img-2 {
    grid-area: image;
  }
  .index-section-1 #index-section-1__container2 #index-description-2 {
    grid-area: description;
  }
}
.home-main .container-intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-main .container-intro p {
  font-size: 40px;
  text-align: center;
  max-width: 700px;
}

footer {
  background-color: lightgray;
  padding: 60px;
}
footer input[type=email] {
  width: 100%; /* Cambia el ancho según tus preferencias */
  height: 40px; /* Cambia el alto según tus preferencias */
}

.image-container {
  position: relative; /* Asegura que el pseudo-elemento esté posicionado correctamente */
  overflow: hidden; /* Oculta cualquier contenido fuera del contenedor */
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro semi-transparente */
  opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
  transition: opacity 0.3s ease-in-out; /* Agrega una transición suave a la opacidad */
  pointer-events: none; /* Evita que el pseudo-elemento bloquee eventos del ratón */
}
.image-container:hover::before {
  opacity: 0.4; /* Al hacer hover, se muestra el pseudo-elemento */
}

.image-translateUpY {
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al transform */
}
.image-translateUpY:hover {
  transform: translateY(-20px); /* Desplaza el elemento 10px hacia arriba */
}

.main-btn {
  background-color: rgb(255, 77, 0);
  position: relative;
  border: none;
  height: 70px;
  width: 250px;
}
.main-btn a {
  text-decoration: none;
  font-size: 21px;
  color: white;
  z-index: 1;
}
.main-btn a:hover {
  color: white;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
