$header_hover_color: lightgray;
$vista: desktop;
$h1Desktop: 3rem;
$h1Mobile: 1.2rem;
$entrada_heigth_padding: 600px;

*{
    margin: 0px;
    padding: 0px;
}

header{
    nav{
        div{
            ul{
                li{
                    a{
                        &:hover{
                            color: $header_hover_color;
                        }
                    }
                }
            }
        }
    }
}

/************************************************************Pestaña Sign-Up*********************************************************/
.username-container{
    width: 100%;
}

@mixin align_items_grid_with_gap{
    align-items: center;
    gap:10px;
}

.contenedor-signup{
    display: grid;
    grid-template-areas: 
    "header header"
    "contenedor imagen";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    @include align_items_grid_with_gap;
}

.contenedor-signup__extra-container{
    border: 1px solid #ced4da; /* Borde normal */
    border-radius: 5px; /* Borde redondeado */
    padding: 8px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el borde */
    grid-area: contenedor;
}

aside.image-container{
    grid-area: imagen;
}


/********************************************************Pestaña Inicio********************************************************************/
.entrada{
    background-color: $header_hover_color;
    height: $entrada_heigth_padding;
    width: 100%;
}

@mixin align_items_flex_column($jc_orientation){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $jc_orientation;
}

.entrada__contenedor{
    @include align_items_flex_column(center);
    padding: 200px;
}

.entrada__contenedor p{
    max-width: 500px;
    text-align: center;
}

.headings{
    margin-top: 60px;
    margin-bottom: 60px;
}

.headings{
    h1{
        &:nth-child(1){
            text-align: center;
            margin-bottom: 50px;
        }
    }
}

/***************************************************************Pestaña Pricings**********************************************************/

.header_pricings{
    margin-top: 70px;
    margin-bottom: 50px;
    @include align_items_flex_column(center);
}

.header_pricings{
    p{
        &:nth-child(2){
            max-width: 500px;
        }
    }
}

.precios_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**********************************************************Pestaña AboutUs*************************************************************************/

#about_us_body{
    display: grid;
    grid-template-areas: 
    "header header"
    "our_story integrantes"
    "aside integrantes"
    "footer footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

@media (max-width: 768px){
    #about_us_body{
        grid-template-areas: 
        "header"
        "our_story"
        "integrantes"
        "aside"
        "footer"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 10px;
    }
}

@media (min-width:1200px){
    #about_us_body{
        grid-template-areas: 
        "header header header"
        "our_story integrantes aside"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }
    aside div img{
        height: 600px;
    }
}

.header-aboutus {
    grid-area: header;
    background-image: url(/imagenes/pexels-pixabay-531880.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.header-aboutus h1{
    text-align: center;
    padding: 150px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.header-aboutus h1:hover{
    font-weight: bold;
    padding:20px;
    background-color: rgb(10, 10, 60);
    color: azure;

}

#our_story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: our_story;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px;
}

#our_story p{
    max-width: 600px;
}

aside{
    grid-area: aside;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside div{
    padding: 30px;
}

#integrantes{
    grid-area: integrantes;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

#integrantes .integrantes__integrante{
    text-align: center;
    padding: 30px;
}

footer{
    grid-area: footer;
    background-color: lightgrey;
}

/***************************************************************Pestaña Sign In********************************************************************/

.signin-container{
    @include align_items_flex_column(center);
    height: 100vh;
}

#info-container{
    @include align_items_flex_column(center);
}

.form-group{
    width: 80%;
}

body{
    @if $vista == mobile{
        h1: {
            font-size: $h1Mobile;
        }
        .entrada{
            background-color: black;
            color: aliceblue;
        }
    }@else if $vista == desktop{
        h1: {
            font-size: $h1Desktop;
        }
        .entrada{
            background-color: $header_hover_color;
            color:black;
        }
    }
}

@media (max-width: 768px){

    aside.image-container{
        display: none;
    }

    .contenedor-signup{
        grid-template-areas: 
        "header"
        "contenedor";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        @include align_items_grid_with_gap;
    }

    .precios_contenedor{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.main-btn{
    border-radius: 10px;
    padding: 15px;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    background-color: #068FFF;
    a{
        text-decoration: none;
        color: aliceblue;
        &:hover{
            font-weight: 900;
            color: white;
        }
    }
}

.view_details-btn{
    @extend .main-btn;
    font-size: 15px;
    height: 50px;
    background-color: $header_hover_color;
    a{
        color:black;
    }
}

/*Declaro un mapa de los botones*/

$btns: (
    free: #068FFF,
    pro:green,
    enterprise: #FF0062,
);

@each $mode, $color in $btns{
    .btn-#{$mode}{
        @extend .main-btn;
        background-color: $color;
        color:white;
        @if $mode == free{
            &:hover{
                color:black;
                background-color: white;
            }
        }@else if $mode == pro{
            &:hover{
                background-color: darken($color, 20%);
            }
        }@else if $mode == enterprise{
           &:hover{
                background-color: darken($color, 30%);
            }
        }
    }
}
