@import "reset";
@import "icons";
@import "mixins";
@import "sign-up";
@import "contact-us";
@import "about-us";
@import "sign-in";

nav{
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        font-size: 40px; /* Modify this value to adjust the icon size */
        color: rgb(255, 60, 0);
    }
    div{
        ul{
            li{
                font-size: 20px;
                &:hover{
                    font-size: 25px;
                    font-weight: 900;
                }
            }
        }
    }
}

#services{
    background-color: #333333;
    padding: 50px;
    height: 100%;
    width: 100%;
    color:  #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #services__items{
        display: flex;
        flex-direction: row;
        #services__items__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 30px;
            width: 100%;
            p{
                max-width: 400px;
            }
            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
                font-size: 60px; /* Modify this value to adjust the icon size */
                padding: 40px;
            }
            .learn-more-btn{
                margin-top: 40px;
                background-color: #333333;
                background: none; /* Elimina el fondo cuadrado */
                border: none; /* Elimina el borde */
                height: 60px;
                width: 200px;
                transition: all 1s;
                a{
                    text-decoration: none;
                    color: #F4F4F4;
                    font-size: 21px;
                }
                &:hover{
                    background-color: rgb(255, 102, 0);
                }

            }
        }
    }
}

.footer-logo-container{
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        font-size: 100px; /* Modify this value to adjust the icon size */
        color: rgb(255, 60, 0);
    }
    div strong{
        color: #F4F4F4;
        font-size: 21px;
    }
}

#btn-submit{
    height: 40px;
    width: 120px;
}

.logo-container{
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        font-size: 250px; /* Modify this value to adjust the icon size */
        color: rgb(255, 60, 0);
    }
    h1{
        color:#F4F4F4;
        font-weight: 600;
    }
}
  



@media (max-width:1024px){
    .about-us-body-section1{
        .image1{
            display: none;
        }
        .image2{
            display: none;
        }
    }
}

@media (max-width:1124px){
    #services #services__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-container{
        span,h1{
            display: none;
        }
    }

    .home-video{
        .bg-video{
            display: none;
        }
    }
}


.container-welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    p{
        max-width: 400px;
    }
    h1{
        transition: font-size 2s, font-weight 1s,transform 1s;
        &:hover{
            font-size: 45px;
            font-weight: 900;
            transform: scale(1.5,1.5);
        }
    }
}

.home-video{
    video{
        width: 100%;
        height: 100%;
    }
}

.info{
    max-width: 300px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:1024px){
    .index-section-1{
        #index-section-1__container1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        #index-section-1__container2{
            display: grid;
            grid-template-areas:
            "description"
            "image";
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-items: center;
            #index-img-2{
                grid-area: image;
            }
            #index-description-2{
                grid-area: description;
            }
        }
    }
}


.home-main{
    .container-intro{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 40px;
            text-align: center;
            max-width: 700px;
        }
    }
}

.container-intro{
    padding-top: 80px;
}

@media (max-width:1100px){
    .home-main{
        .container-intro{
            margin-top: 90px;
            padding: 90px;
            p{
                font-size: 30px;
            }
        }
    }
  
}



footer{
    background-color: lightgray;
    padding: 60px;
    input[type="email"] {
        width: 100%; /* Cambia el ancho según tus preferencias */
        height: 40px; /* Cambia el alto según tus preferencias */
    }
}

.image-container {
    position: relative; /* Asegura que el pseudo-elemento esté posicionado correctamente */
    overflow: hidden; /* Oculta cualquier contenido fuera del contenedor */
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro semi-transparente */
        opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
        transition: opacity 0.3s ease-in-out; /* Agrega una transición suave a la opacidad */
        pointer-events: none; /* Evita que el pseudo-elemento bloquee eventos del ratón */
    }
    &:hover::before {
        opacity: 0.4; /* Al hacer hover, se muestra el pseudo-elemento */
    }
}

.image-translateUpY {
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave al transform */
    &:hover {
        transform: translateY(-20px); /* Desplaza el elemento 10px hacia arriba */
    }
}


.main-btn{
    background-color: rgb(255, 77, 0);
    position: relative;
    border: none;
    height: 70px;
    width: 250px;  
    a{
        text-decoration: none;
        font-size: 21px;
        color: white;
        z-index: 1;
        &:hover{
            color: white;
            font-weight: 700;
        }
    }
}


