*{
    margin: 0px;
    padding: 0px;
}

/*Efecto Hover para Navbar*/
header nav div ul li a:hover{
    font-weight: bold;
    background-color: lightgray;
    color: azure;
}

/************************************************************Pestaña Sign-Up*********************************************************/
.username-container{
    width: 100%;
}

.contenedor-signup{
    display: grid;
    grid-template-areas: 
    "header header"
    "contenedor imagen";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap:10px;
}

@media (max-width: 768px){

    aside.image-container{
        display: none;
    }

    .contenedor-signup{
        grid-template-areas: 
        "header"
        "contenedor";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        align-items: center;
        gap:10px;
    }
}

.contenedor-signup__extra-container{
    border: 1px solid #ced4da; /* Borde normal */
    border-radius: 5px; /* Borde redondeado */
    padding: 8px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el borde */
    grid-area: contenedor;
}

aside.image-container{
    grid-area: imagen;
}

/********************************************************Pestaña Inicio********************************************************************/
.entrada{
    background-color: lightgrey;
    height: 600px;
    width: 100%;
}

.entrada__contenedor{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 200px;
}

.entrada__contenedor p{
    max-width: 500px;
    text-align: center;
}

.headings{
    margin-top: 60px;
    margin-bottom: 60px;
}

.headings h1:nth-child(1){
    text-align: center;
    margin-bottom: 50px;
}

/***************************************************************Pestaña Pricings**********************************************************/

.header_pricings{
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_pricings p:nth-child(2){
    max-width: 500px;
}

.precios_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 768px){
    .precios_contenedor{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

/**********************************************************Pestaña AboutUs*************************************************************************/

#about_us_body{
    display: grid;
    grid-template-areas: 
    "header header"
    "our_story integrantes"
    "aside integrantes"
    "footer footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

@media (max-width: 768px){
    #about_us_body{
        grid-template-areas: 
        "header"
        "our_story"
        "integrantes"
        "aside"
        "footer"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 10px;
    }
}

@media (min-width:1200px){
    #about_us_body{
        grid-template-areas: 
        "header header header"
        "our_story integrantes aside"
        "footer footer footer";
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }
    aside div img{
        height: 600px;
    }
}

.header-aboutus {
    grid-area: header;
    background-image: url('./imagenes/pexels-pixabay-531880.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.header-aboutus h1{
    text-align: center;
    padding: 150px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.header-aboutus h1:hover{
    font-weight: bold;
    padding:20px;
    background-color: rgb(10, 10, 60);
    color: azure;

}

#our_story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: our_story;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px;
}

#our_story p{
    max-width: 600px;
}

aside{
    grid-area: aside;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside div{
    padding: 30px;
}

#integrantes{
    grid-area: integrantes;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

#integrantes .integrantes__integrante{
    text-align: center;
    padding: 30px;
}

footer{
    grid-area: footer;
    background-color: lightgrey;
}

/***************************************************************Pestaña Sign In********************************************************************/

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    width: 80%;
}

