
*{
    margin: 0px;
    padding: 0px;
}
/*Pestaña Inicio*/
.entrada{
    background-color: lightgrey;
    height: 400px;
    width: 100%;
}

.entrada__contenedor{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 60px;
}

.entrada__contenedor p{
    max-width: 500px;
    text-align: center;
}

.headings{
    margin-top: 60px;
    margin-bottom: 60px;
}

.headings h1:nth-child(1){
    text-align: center;
    margin-bottom: 50px;
}

/*Pestaña Pricings*/

.header_pricings{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_pricings p:nth-child(2){
    max-width: 500px;
}

.precios_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 768px){
    .precios_contenedor{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

/*Pestaña AboutUs*/

#about_us_body{
    display: grid;
    grid-template-areas: 
    "header header"
    "our_story integrantes"
    "aside integrantes"
    "footer footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

@media (max-width: 768px){
    #about_us_body{
        grid-template-areas: 
        "header"
        "our_story"
        "integrantes"
        "aside"
        "footer"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 10px;
    }
}

@media (min-width:1200px){
    #about_us_body{
        grid-template-areas: 
        "header header header"
        "our_story integrantes aside"
        "footer footer footer";
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }
    aside div img{
        height: 600px;
    }
}

/* Estilos del encabezado con imagen de fondo */
.header-aboutus {
    grid-area: header;
    background-image: url('./imagenes/pexels-pixabay-531880.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
}

.header-aboutus h1{
    text-align: center;
    padding: 150px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.header-aboutus__navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.header-aboutus__navbar ul li{
    margin-top: 40px;
}

.header-aboutus__navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}

.header-aboutus__navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#our_story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: our_story;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px;
}

#our_story p{
    max-width: 600px;
}

aside{
    grid-area: aside;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


aside div{
    padding: 30px;
}

#integrantes{
    grid-area: integrantes;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

#integrantes .integrantes__integrante{
    text-align: center;
    padding: 30px;
}

footer{
    grid-area: footer;
}